[Unit]
Description=Usb Listener Service

[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python3 /home/dogukan/usb-port-listener/usblistener.py
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
Type=simple
Restart=always
Environment=PYTHONUNBUFFERED=1
[Install]
WantedBy=multi-user.target